composer.lock
package-lock.json
vendor
phpunit.xml
.phpunit.result.cache
.env
.env.example
.coverage
.cursorrules
.github
.vscode
.editorconfig
.DS_Store
node_modules
/public/build
/public/hot
/npm-debug.log
/yarn-error.log
/testbench.yaml.example
/workbench/public
/workbench/storage